html, body {
  max-width: 100%;
  overflow-x: hidden;
}
label {
  display:inline-block; text-align:center;
}
.bootstrap-select {
  background-clip: border-box;
  text-align-last: right;
  margin-right: 5px;
}
.row{
  text-align: center;
  margin-right: 14px;
}
.card{
  border-color: red;
}
.header{
  margin-bottom: 30px;
  text-align: center;
}
.card-blockquote{
  text-align: center;
  margin: auto;
  padding-top:2px;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
}
#select-container{
  display: inline-grid;
}
#copy-right{
  text-align: center;
}
#resultSentence{
  margin: auto;
}
#colOne, #colTwo,#colThree,#colFour,#colFive{
  padding-top: 10px;
  margin-left: 30px;
  text-align: center;
}
#footer{
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
