.centered
{
  background-color: green;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;

  right: 0;
}

.row{

  background-color: green;
  margin:auto;

}
.header{
  margin-bottom: 200px;
  text-align: center;
}
#colOne{
margin: auto;
}
