html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.bootstrap-select {
  background-clip: border-box;
  text-align-last: right;
}
/* CSS talk bubble */
.talk-bubble {
  margin: 40px;
  margin-left: 700px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: auto;

  background-color: gray;
}
.row{
  text-align: center;
}
.header{
  margin-bottom: 200px;
  text-align: center;
}
.round{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}
/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: gray transparent transparent gray;
}

#colOne, #colTwo,#colThree,#colFour,#colFive{
  padding-top: 10px;
  margin-left: 33px;
  text-align: center;
}
#footer{
  padding-top: 80px;
  margin:auto;
  text-align: center;
}
